#S1{
    text-align: center;
    top: 50px;
    bottom: 50px;
    right: 80px;
    background: linear-gradient(#03f4fc 0%,#4370e0 100%);
    width: 450px;
    height: 50%;
}
#Img{
    width: 150px;
    height: 200px;
    border-radius:50%;
    border-style: solid;
    border-color: red
}
#1H1{
    color:navajowhite;
}